<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <title>blog</title>
    
        <!-- Custom fonts for this template-->
        <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    
        <!-- Custom styles for this template-->
        <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    
    </head>
<body id="page-top">
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include('partialls/sidebar') %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%- include('partialls/navbar') %>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="col-10 offset-1">
                        <div class="d-flex justify-content-between align-items-center">
                            <h1><%=article.title%></h1>

                            <a href="/dashboard" class="btn btn-primary w-25">Back</a>
                        </div>


                        <%- article.text %>
                        <p>written by <%=article.writer.username%> at <%=new Date(+article.createdAt).toString()%></p>
                        <% if (myArticle) { %>
                            <button class="btn btn-warning">Edit this Blog</button>   
                            <button class="btn btn-danger" id="deleteBtn">Delete this Blog</button>    
                        <% } %>
                        <hr>
                        <form action="/dashboard/comment" method="POST">
                            <h5>write your comments here :</h5>
                            <textarea name="comment" rows="4" class="w-100"></textarea>
                            <% if (commentErr) { %>
                                <div class="alert alert-danger" role="alert">
                                    <%=commentErr%>
                                </div>
                            <% } %>
                            <button class="btn btn-success w-100">Submit</button>
                        </form>
                        <hr>
                        <h5>Comments :</h5>
                        <hr>
                        <% if (comments) { %>
                            <% for (let i = 0;i < comments.length; i++) { %>
                                <div class="d-flex align-items-center">
                                    <% if (!comments[i].writer.avatar) { %>
                                        <img class="img-profile rounded-circle"
                                        src="../img/undraw_profile.svg"
                                        width="32px"
                                        height="32px">
                                    <% } else { %>
                                        <img class="img-profile rounded-circle"
                                        src="<%=comments[i].writer.avatar%>"
                                        width="32px"
                                        height="32px">
                                    <% } %>
                                    <h6 class="mb-0 ml-2"><%=comments[i].writer.username%> says :</h6>
                                </div>
                                <p class="my-3">
                                    <%=comments[i].content%>
                                </p>

                                <hr>
                            <% } %>
                        <% } %>

                    </div>




                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->



        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>
    <% if (myArticle) { %>
        <script src="/js/article.js"></script>
    <% } %>

</body>
</html>